body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theForm {
  background-color: #EDE4E0;
}

.forLabel {
  font-size: 20px;

}

.forInput {
  font-size: 20px;
    /* padding: 10px; */
    margin: 10px;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 10px;

}

.forBotton {
  font-size: 18px;
    padding: 5px 20px;
    margin: 10px;
    background-color: rgb(244, 246, 248);
    border: 1px solid rgb(184, 178, 178);
    border-radius: 10px;

}

.forAllList {
  background-color: #C8DBBE;
  border: 1px solid rgb(184, 178, 178);
  border-radius: 10px;
  margin: 10px 200px;
  /* font-weight: bold; */
}

.forList {
  font-size: 20px;
  /* padding: 10px; */
  margin: 10px;
}